
body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background-color: #356d35;
}

/*----------------------start-header----------------------*/

header {
    box-sizing: border-box;
    background-color: white;
    width: 100%;
    box-shadow: 0 5px 10px rgba(0,0,0,0.2);
    z-index: 999;
    position: fixed;
    top: 0;
}

.sub1 {
    display: flex;
    justify-content: space-between;
}

.logo {
    padding: 5px 0 0;
    height: 50px;
}

.star {
    height: 50px;
    background-color: #ffdd00;
    color: black;
    font-size: 15px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    padding-right: 10px;
    text-decoration: none;
    cursor: pointer;
    transition: all 0.2s ease;
}

.star:hover {
    background-color: #ffd700;
    box-shadow: 0 5px 10px rgba(0,0,0,0.2);
}

.starmessage {
    color: black;
    font-size: 15px;
    font-weight: bold;
    padding: 10px;
}

.sub2 {
    display: flex;
    justify-content: center;
    white-space: nowrap;
    overflow: auto;
    padding: 0 10px;
    transition: all 0.1s;
}

.sub2 a {
    padding: 5px 10px 10px;
    text-decoration: none;
    font-size: 17px;
    font-weight: bold;
    color: #aaa;
    cursor: pointer;
    transition: all 0.1s;
}

.sub2 a.n:hover,
.sub2 a.n:active,
.sub2 a.s {
    color: #2277ff;
}

.sub2 a.s {
    border-bottom: 3px solid #2277ff;
}

/*----------------------end-header----------------------*/

/*----------------------start-main----------------------*/

/* Main content */
main {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 100px;
}

.container {
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
    box-shadow: 0 5px 10px rgba(0,0,0,0.2);
}

.container:hover {
    box-shadow: 0 10px 20px rgba(0,0,0,0.3);
}

/*----------------------end-main----------------------*/
/*----------------------start-footer----------------------*/
/*----------------------end-footer----------------------*/

/* Media Queries */
@media screen and (max-width: 768px) {
    .star {
        background-color: transparent !important;
        color: #ffaa00;
        box-shadow: none !important;
        padding: 5px;
        position: absolute;
        top: 7px;
        right: 5px;
    }
}

@media screen and (max-width: 550px) {
    .starmessage {
        display: none;
    }
    
    .star {
        color: #ffdd00;
    }
}